img {
   width: 100%;
}

img + p,
article + article {
   margin-top: 1rem;
}

section, article {
   scroll-margin-top: 56px;
}

#personal-information img {
   margin: 15px 0 15px 15px;
   width: 200px;
}

@media (max-width: 51px) {
   #personal-information img {
      margin: 15px 15px 15px;
      float: none !important;
      width: 200px;
   }
}

#project-tools-and-technologies img {
   width: 50%;
}

@media (max-width: 1195px) {
   #project-tools-and-technologies img {
     width: 70%;
   }
}
@media (max-width: 760px) {
   #project-tools-and-technologies img {
      width: 100%;
   }
}

#project-motivation img{
   width: 70%;
   border: solid #921616;
   margin: 20px 0px;
}

@media (max-width: 1415px) {
   #project-motivation img {
      width: 100%;
   }
}

#members-ideal-jobs img{
   width: 50%;
}

@media (max-width: 970px) {
   #members-ideal-jobs img{
      width: 100%;
   }
}

#industry-data figure{
   margin: 25px;
}
   
h1 {
   margin-top: 1em;
   color: #921616;
}

h2 {
   padding: 5px 0px;
   border-bottom: solid 1px lightgray;
   margin-bottom: 1em;
}

table{
   border: 1px solid #ddd;
   padding: 8px;
}
th {
   background-color:#921616 ;
   color: white;
  
}
th, td{
   border: 1px solid #ddd;
   padding: 8px;
}